/*Russo-one */
@font-face {
    font-family: 'russo_oneregular';
    src: url('russoone.woff2') format('woff2'),
         url('russoone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  div.title {
  font-family: 'russo_oneregular'!important;
  color: rgb(255, 255, 255);
  font-size: 50px;
  letter-spacing : 3px;
  line-height: 1.2em;
}

div.title-stroke{
  font-family: 'russo_oneregular'!important;
  font-size : 50px;
  color: rgb(255, 255, 255);
  line-height:1.2em;
  letter-spacing : 3px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px;
}
div.title-baby{
  font-family: 'russo_oneregular'!important;
  color: rgb(255, 255, 255);
  font-weight: 100;line-height:1.2em;
  font-size : 50px;
  letter-spacing : 3px;
}